.HoverCardContent[data-side="top"] {
  animation-name: slideDownAndFade;
}
.HoverCardContent[data-side="right"] {
  animation-name: slideLeftAndFade;
}
.HoverCardContent[data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.HoverCardContent[data-side="left"] {
  animation-name: slideRightAndFade;
}
@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
